# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# IGNORED BY LUKE
# =========================
AAR
Config
map_easterneuropeangeotypical25km_2016_6_28_16_40_47
missions
Saved
Screen
UserSaved
Luke.vars.VBS3Profile
Luke.VBS3Profile
map_easterneuropeangeotypical25km_2016_6_28_16_50_31.emf
map_easterneuropeangeotypical25km_2016_6_28_16_52_39.lbt
ScriptDebugger.cfg
VBS3.cfg
mpmissions/S*
mpmissions/T*
mpmissions/__tmpPreviewDir
mpmissions/A*
